@import url("https://fonts.googleapis.com/css2?family=Abel&family=Gloria+Hallelujah&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap");
@import "tailwindcss";

@theme {
  --color-gray-100: #f8fafc;
  --color-gray-500: #717680;
  --color-gray-600: #535862;
  --color-gray-700: #414651;
  --color-gray-800: #181d27;
  --color-gray-900: #181d27;

  --color-border: #0000000a;

  --color-green-600: #57c113;
}

body {
  font-family: "Inter", sans-serif;
}

.signup-shadow {
  box-shadow: 0px 1px 2px 0px #0a0d120d;
}

.shadow-back-button {
  box-shadow: 0px 2px 4px -2px #0a0d120f;

  box-shadow: 0px 4px 8px -2px #0a0d121a;
}
.shadow-popup {
  box-shadow: 0px 1px 2px 0px #0a0d120d;
}

.rdtOpen input{
  width: 100% !important;
}

.rdtPicker{
  bottom: 0;
}

.car-card-shadow{
  box-shadow: 0px 1px 2px 0px #0A0D120D;

}

.changeColor{
  filter: invert(1);
}
